{% extends 'main/layout.html' %}

{% block title %}Про нас{% endblock %}

{% block content %}
        <div class="features">
        <h1>Текст про нас</h1>
        <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.</p>
        <button class="btn btn-danger">На королевскую страницу</button>
    </div>
{% endblock %}