body {
    background: #2c2c2c;
}

aside{
    float: left;
    background: #181818;
    width: 25%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #4d4d4d
}

aside img{
    width: 80px;
    float: left;
    position: relative;
    top: -10px;
}

aside .logo{
    font-size: 40px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
    top: -5px;
}
aside h3{
    color: #782b2b;
    margin-top: 50px;
    font-size: 30px;
}

aside ul {list-style: none}

aside ul li{
    color: #fff;
    display: block;
    text-decoration: none;
    margin-top: 15px;
    transition: all .3s ease;
}

aside ul a{
    text-decoration: none;
}

aside ul li:hover, aside ul a:hover{
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.05);

}

main .features{
    float: left;
    color: #fff;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}

main .features h1 {font-size: 50px;}
main .features p {max-width: 500px; margin: 20px auto;}